<!DOCTYPE html>
<html>
<head>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>
<h1 class="text-center"> GitHub Jobs Search - San Francisco </h1>
  <div class="col-lg-12">
      <style>
        .form-signin {
          max-width: 550px;
          padding: 15px;
          margin: 0 auto;
        }    
      </style>


      <div class="container text-center">
          <form class="form-signin" id="login_form" method="post" action="/app/">
            {% csrf_token %}
            
            <br>
            <input type="text" name="keyword" class="form-control" placeholder="Job Description E.G. 'python'" value="" required autofocus>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Get Data</button>
          </form>
      </div>
      <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped tablesorter">
              <thead>
              <tr>
                <th class="header"> Job Title <i class="icon-sort"></i></th>
                <th class="header"> Company <i class="icon-sort"></i></th>
                <th class="header"> Company Logo <i class="icon-sort"></i></th>
              </tr>
          </thead>
          <tbody>
          
          
          {% for key in data %}
              <tr>
                  <td>
                    <a href="/app/detail/?id={{ key.id }}">
                      <font size="+1">{{ key.title }}</font>
                    </a>
                  </td>
                  <td><font size="+1">{{ key.company }}</font></td>
                  <td><img src={{ key.company_logo }} style = "width:75px;height:auto;"></td>
              </tr>
          {% endfor %}
          
          
          </tbody>
          </table>
      </div>
    </div>
</body>
</html>
